langchain
langgraph
langchain-community
langchain-core
langchain-groq
langchain-openai
faiss-cpu
tavily-python
bs4
requests
beautifulsoup4
pydantic
langchain-text-splitters
python-dotenv
PyYAML
fastapi
uvicorn
motor
pymongo
streamlit
python-multipart